body{

margin:0;
background:#050505;
font-family:Arial;
color:white;
overflow:hidden;

}

#ui{

position:absolute;
top:40px;
left:50%;
transform:translateX(-50%);
text-align:center;

}

#title{

color:#00ffcc;
font-size:20px;

}

#display{

font-size:56px;
letter-spacing:4px;
margin-top:10px;

}

#mode{

font-size:14px;
opacity:0.6;

}

#foots{

position:absolute;
bottom:50px;
width:100%;
display:flex;
justify-content:space-evenly;

}

button{

width:90px;
height:90px;
border-radius:50%;

background:#111;

border:none;

box-shadow:
0 0 20px #000,
inset 0 0 8px #000;

}

button.active{

box-shadow:
0 0 20px #00ffcc,
0 0 40px #00ffcc;

background:#00ffcc;

}